{% extends "layout.html" %}
{% block content %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#reviews-box").html("");
        });

        let pictureUrl = '';

        function write_review() {
            let writer = $('#writer').val();
            let review = $('#review').val();
            if (writer == "") {
                alert("이름을 입력해주세요");
                $("#writer").focus();
                return;
            } else if (review == "") {
                alert("내용을 입력해주세요");
                $("#review").focus();
                return;
            }

            console.log(pictureUrl);

            $.ajax({
                type: "POST",
                url: "/review",
                data: {picture_give: pictureUrl, writer_give: writer, review_give: review},
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }
    </script>

    <div class="upload_tap">
        <div>
            <input type="hidden" role="uploadcare-uploader"/>
            <script>
                let singleWidget = uploadcare.SingleWidget('[role=uploadcare-uploader]');
                singleWidget.onUploadComplete(function (info) {
                    pictureUrl = info.cdnUrl;
                    console.log(pictureUrl);
                });
            </script>

            <div id='View_area'
                 style='position:relative; width: 100px; height: 100px; color: black; border: 0px solid black; dispaly: inline; '></div>
            <div class="form-group">
                <label for="writer">작성자</label>
                <input type="text" class="form-control" id="writer" placeholder="title">
            </div>
            <div class="form-group">
                <label for="review">글 내용</label>
                <textarea class="form-control" rows="5" id="review" placeholder="contents"></textarea>
            </div>
            <button type="submit" class="btn btn-default" onclick="write_review()">Submit</button>
        </div>
    </div>
{% endblock %}