<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript">

        $(document).ready(function () {
            $("#reviews-box").html("");
            showReview();
        });

        function makeReview() {
            // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
            let title = $("#title").val();


            // 3. POST /review 에 저장을 요청합니다.
            $.ajax({
                type: "POST",
                url: "/review",
                data: {title_give: title},
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }

        function showReview() {

            $('#reviews-box').empty()

            // 1. 리뷰 목록을 서버에 요청하기
            $.ajax({
                type: "GET",
                url: "/review",
                data: {},
                success: function (response) {
                    // 2. 요청 성공 여부 확인하기
                    if (response["result"] == "success") {
                        let reviews = response["reviews"];
                        // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                        for (let i = 0; i < reviews.length; i++) {
                            makeCard(reviews[i]["title"]);
                        }
                    } else {
                        alert("리뷰를 받아오지 못했습니다");
                    }
                }
            })
        }


        function makeCard() {
            let title = $("#title").val();
            let tempHtml = `
           <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="A?ads;flkadspi??">${title}</a>
         </span>`;

            $.ajax({
                type: "POST",
                url: "/search",
                data: {title_give:title},
                success: function (response) {
                    // 2. 요청 성공 여부 확인하기
                    if (response["result"] == "success") {
                        let titles = response['title'];
                        let summarys = response['summary'];

                        console.log(titles);
                        console.log(summarys);

                    }
                }
            })

            $("#reviews-box").append(tempHtml);

        }


    </script>
    <style>
        .searc_box {
            max-width: 600px;
            width: 90%;
            margin: 20px auto 20px auto;

            padding: 20px;
            background-color: whitesmoke;
        }

        .buttons {
            margin: 10px auto;
            width: 800px;
        }

        .area_keyword {
            line-height: 1.231;
            letter-spacing: -1px;
            margin: 0;
            padding: 0;
            color: inherit;
            font-size: inherit;
            text-decoration: inherit;
            font-family: inherit;
            margin-top: 50px;
            border-bottom: 1px solid #ebebeb;
        }

    </style>
    <body>
        <div class="searc_box">
            <div class="lycos">
                <a href="#"><img
                        src="https://search.naver.com/search.naver?&where=news&query="
                        alt=""></a>
            </div>
            <div>
                <h1>투자 의사결정을 도와드립니다!</h1>
                <p3>검색하는 뉴스의 많이 등장하는 단어를 시각화 해드립니다.</p3>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                <input type="text" class="form-control" id="title">
            </div>

            <span class="input-group-btn">
                <button class="btn main-search__search-btn news-search-btn" type="button" onclick="makeCard()">
                    <i class="fa fa-search"/> 검색
                </button>
            </span>
            <!--   <span class="input-group-my">
<button class="btn btn-default" type="button" id="btn-search-formula">
나의 검색식
</button>
</span> -->

        </div>
        </div>
        <div id="autocomplete-suggestions"></div>
        </div>
        <div id="reviews-box"></div>

    </body>
</html>